<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statistics about the tax income</title>
    {% block head_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}
    {% block head_js %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="my-5">
            <h2>The overall amount of taxes collected per state</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">State</th>
                        <th scope="col">Amount of taxes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stateName, overallTaxesAmount in overallAmountOfTaxesPerState %}
                        <tr>
                            <td>{{ stateName }}</td>
                            <td>{{ overallTaxesAmount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="my-5">
            <h2>The average amount of taxes collected per state</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Average of taxes</th>
                </tr>
                </thead>
                <tbody>
                {% for stateName, avarageTaxesAmount in averageAmountOfTaxesPerState %}
                    <tr>
                        <td>{{ stateName }}</td>
                        <td>{{ avarageTaxesAmount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="my-5">
            <h2>The average county tax rate per state</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">State</th>
                    <th scope="col">Average county tax rate</th>
                </tr>
                </thead>
                <tbody>
                {% for stateName, taxRate in averageCountyTaxRatePerState %}
                    <tr>
                        <td>{{ stateName }}</td>
                        <td>{{ taxRate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="my-5">
            <h2>The average tax rate of the country</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Average tax rate</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ averageTaxRateOfTheCountry }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="my-5">
            <h2>The collected overall taxes of the country</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Collected overall taxes</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ overallTaxesOfTheCountry }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>